[submodule "catkin_ws/src/turtlebot3_datasets"]
	path = catkin_ws/src/turtlebot3_datasets
	url = https://github.com/irob-labs-ist/turtlebot3_datasets.git
[submodule "turtlebot3_simulations"]
	path = catkin_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "catkin_ws/src/rrt_planner"]
	path = catkin_ws/src/rrt_planner
	url = https://github.com/irob-labs-ist/rrt_planner.git
